.dot {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: 50%;
  }

  .buttons {
    position: relative;
    left: 50%;
  }

.container {
      display: block;
      width: 3000px;
  }

  .viewer {
      height: 100%;
      width: 350px;
      background-color: red;
  }